<style>
    .submitButton{
        position: absolute;
        bottom: 25px;
        right: 25px;
    }
</style>
<h1 class="title">Dalendar</h1>
<h2 class="title">Welcome!</h2>

<div class="box">
    What are your goals?
    <div class="field is-grouped">
        <p class="control">
          <button class="button is-large">
            Fitness
          </button>
        </p>
        <p class="control">
          <button class="button is-large">
            Nutrition
          </button>
        </p>
        <p class="control">
          <button class="button is-large">
            Productivity
          </button>
        </p>
    </div>
        <input class="input" type="text" placeholder="Other">
        <button class="submitButton button is-primary">
            Next
        </button>
</div>