<style>
    .submitButton{
        position: absolute;
        bottom: 25px;
        right: 25px;
    }
</style>
<h1 class="title">Productivity Goals</h1>
<div class="container">
    <div class="box">
        <p>
            <b>What is your occupation?</b>
        </p>
        <textarea class="textarea" placeholder="e.g. Student, Employee, Parent, etc."></textarea>
    </div>
    <div class="box">
        <p>
            <b>What are your productivity goals?</b>
        </p>
        <textarea class="textarea" placeholder="e.g. Reading, Studying, etc."></textarea>
    </div>
</div>
<button class="submitButton button is-primary">
    Next
</button>