<style>
    .custom-card-header-color {
        background-color: #fadadd;
    }
</style>
<div class="container">
    <div class="columns">
        <div class="column is-one-third">
            <div class="card">
                <header class="card-header custom-card-header-color">
                    <p class="card-header-title">
                        You are in:
                    </p>
                    <div class="card-content">
                        {{currentPhase}}
                    </div>
                </header>
                <div class="card-content">
                    {{ data }}
                </div>
            </div>
        </div>
        <div class="column is-two-third">
            <div class="card">
                <header class="card-header custom-card-header-color">
                    <p class="card-header-title">
                        Your Goals
                    </p>
                </header>
                <div class="card-content">
                    <p><b>{{ goal }}</b></p>
                    <p>{{ rec }}</p>
                </div>
            </div>
        </div>
    </div>
    
    <!-- <div class="columns">
        <div class="column is-one-third">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        What to expect today
                    </p>
                </header>
            </div>
        </div>
    </div> -->
    
    <div class="columns">
        <div class="column is-three-quarters">
            <div class="card">
                <header class="card-header custom-card-header-color">
                    <p class="card-header-title">
                        Your week
                    </p>
                </header>
                <div class="card-content">
                    <app-week-view></app-week-view>
                </div>
            </div>
        </div>
        <div class="column is-one-fourth">
            <div class="card">
                <header class="card-header custom-card-header-color">
                    <p class="card-header-title">
                        QOTD
                    </p>
                </header>
                <div class="card-content">
                    "You may not control all the events that happen to you,
                    but you can decide not to be reduced by them." - Maya Angelou
                </div>
            </div>
        </div>
    </div>    
</div>
