<style>
    .custom-card-header-color {
        background-color: #fadadd;
    }
</style>
<div class="container">
    <div class="columns">
        <div class="column is-one-third">
            <div class="card">
                <header class="card-header custom-card-header-color">
                    <p class="card-header-title">
                        You are:
                    </p>
                    <div class="card-content">
                        {{currentPhase}}
                    </div>
                </header>
                <div class="card-content">
                    {{ data }}
                </div>
            </div>
        </div>
        <div class="column is-one-third">
            <div class="card">
                <header class="card-header custom-card-header-color">
                    <p class="card-header-title">
                        TODO
                    </p>
                </header>
                <div class="card-content">
                    <label class="checkbox">
                        <input type="checkbox">
                        Get groceries
                    </label>
                    
                </div>
                <div class="card-content">
                    <label class="checkbox">
                        <input type="checkbox">
                        Do Homework
                    </label>
                </div>
                <div class="card-content">
                    <label class="checkbox">
                        <input type="checkbox">
                        Gym
                    </label>
                </div>
            </div>
        </div>
        <div class="column is-one-third">
            <div class="card">
                <header class="card-header custom-card-header-color">
                    <p class="card-header-title">
                        Your Cycle
                    </p>
                </header>
                <div class="card-content">
                    
                </div>
            </div>
        </div>
    </div>
    
    <!-- <div class="columns">
        <div class="column is-one-third">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        What to expect today
                    </p>
                </header>
            </div>
        </div>
    </div> -->
    
    <div class="columns">
        <div class="column is-three-quarters">
            <div class="card">
                <header class="card-header custom-card-header-color">
                    <p class="card-header-title">
                        Your week
                    </p>
                </header>
                <div class="card-content">
                    
                </div>
            </div>
        </div>
        <div class="column is-one-fourth">
            <div class="card">
                <header class="card-header custom-card-header-color">
                    <p class="card-header-title">
                        QOTD
                    </p>
                </header>
                <div class="card-content">
                    "You may not control all the events that happen to you,
                    but you can decide not to be reduced by them." - Maya Angelou
                </div>
            </div>
        </div>
    </div>    
</div>
