<style>
    .submitButton{
        position: absolute;
        bottom: 25px;
        right: 25px;
    }
</style>
<div class="container">
    <h1 class="title">Fitness Goals</h1>

    <div class="box">
        <p>
            <b>What is your fitness goal?</b>
        </p>
        <div class="control">
            <label class="radio">
              <input type="radio" name="answer" (click)="setSelection('gain muscle')">
              Gain Muscle
            </label>
            <label class="radio">
              <input type="radio" name="answer" (click)="setSelection('lose weight')">
              Lose Weight
            </label>
            <label class="radio">
                <input type="radio" name="answer" (click)="setSelection('maintain weight')">
                Maintain Weight
            </label>
        </div>
        <input class="input" type="text" placeholder="Other"/>
    </div>

</div>
<button class="submitButton button is-primary" (click)="emitNav()">
    Next
</button>